<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/bar_inputs_all" method="post">

        <input class="inline" type="text" class="form-control" name="bar_input" placeholder="Enter No. of Inputs:"
            aria-label="First name">
        <button type="submit" class="btn btn-primary">Generate Bar Chart</button>

    </form>

</body>

</html>