<form action="/pie_chart" method="post">
    {% for i in range(value_to) %}
    <div class="container">

        <div class="row">
            <div class="col">
                <label class="inline">Enter The Label{{ i+1 }}: </label>
                <input class="inline" type="text" class="form-control" name=x{{ i }} placeholder="Enter The Label"
                    aria-label="First name">
            </div>
            <div class="col">
                <label class="inline">Enter The Percentage: </label>
                <input class="inline" type="number" class="form-control" name=y{{ i }}
                    placeholder="Enter The Percentage" aria-label="First name">
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>